.DS_Store
.venv/
__pycache__/
*.py[cod]
**/__pycache__/
backend/src/
frontend/dist/
frontendofpraticlestimulator/
files.zip

.pytest_cache/
.mypy_cache/
.ruff_cache/

HIGGS.csv.gz
data/HIGGS.csv.gz
data/processed_events/*.joblib
data/processed_events/*.pkl

*.log
*.tmp
*.swp
src/particle_stimulator.egg-info/
